
body{
    background-color:rgb(105, 105, 105);
    margin:0px;
}
header{
    background-color:#1F2937;
    color:white;
    display:flex;
    flex-direction: column;
    padding: 0 20vw 2vw 20vw;
}

.top{
    display: flex;
    justify-content: space-between;

}

.headerlinks{
    display:flex;
    font-size: 18px;

}

ul{
    display: flex;
    gap:20px;
    list-style: none;
    color:#E5E7EB;
}

.logo{
    font-size: 24px;
}

img{
    width: 30vw;
    height:13vw;
    min-width: 300px;
    min-height: 200px;
    display: flex;
    flex:1 1 auto;

}

.sectionBelow{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10vw;
    padding-bottom: 10vw;
    gap:10px;
    flex-wrap: wrap;
}

.mainHeaderText, .logo{
    color:#F9F9F8;
}
.mainHeaderText{
    font-size: 48px;   
}

.lowerHeaderText{
    font-size: 18px;
    color: #E5E7EB;
}
.text{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.middleSection{
    display:flex;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 1vw 20vw 10vw 20vw;


}

.middleTitle{
    padding-bottom: 2vw;
    
}

.middleTitleHeader{
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
}
.images{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:80px;
    flex-wrap: wrap;

}

.individualimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width:15%; /* Set a maximum width for the container */
    max-width: 250px;
    text-align: center; /* Center-align the text */
    gap: 05px; /*gap between img and word */
    font-size: 18px;
    color: #1F2937;
    flex-shrink: 0;

}

.im {
   
    min-height: 250px;
    max-height: 150px;
    border-radius: 20px;
    border-style: solid;
    border-color: #3882F6;
    width: 100%; /* Ensure the image takes up the full width of the container */
}


button{
    background-color: #3882F6;
    color: white;
    padding:5px 30px 5px 30px;
    border-radius: 10px;
    border-style: none;
    font-weight: bold;
}

.quoteSection{
    background-color: #E5E7EB;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight:lighter;
    color:#1F2937;
}
.quoteleft{
    font-size: 36px;

    font-style:italic;

    text-align:left;

}
.quoteright{
    padding-right: 20px;
    font-size: 22px;
    text-align: right;
    font-weight: bold;
}

.signupsection{
    background-color: white;
    padding-left:240px;
    padding-right: 240px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;

    
}

.innerBanner{
    background-color: #3882F6;
    border-radius: 15px;
    padding:10px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content:space-between; 
    align-items: center;
    width: 1000px;

    gap:15px;
    flex-wrap: wrap;


}
.innerBannertext{
    color:#F9F9F8;
}

.buttonApply{
    border-style: solid;
    border-radius: 7px;
    border-width: 3px;
    border-color: white;
}

footer{
    text-align: center;
    font-size: 10px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    margin:0;
}